body {
  font-family: Roboto;
  background-color: antiquewhite;
}

#input-name,
#input-score,
#input-submit {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#back-to-game {
  font-size: larger;
}
